* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --preto: #000000;
    --cinza-escuro: #8B8B8B;
    --cinza-medio: #A6A6A6;
    --cinza: #CBCBCB;
    --roxo-destaques: #7E52E0;
    --roxo-hover: #7545DE;
    --roxo-pressionado: #A745DE;
    --gradiente-roxo: linear-gradient(180deg, #FFF 0%, #A745DE 100%);
    --fundo-roxo-claro: #F9F5FE;
    --fundo-cinza-claro: #F5F5F5;
}

html,
body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    color: var(--preto);
}

button,
select,
input,
textarea {
    font: inherit;
    color: inherit;
}

button {
    border: 0;
}

ul,
li {
    list-style: none;
}
